#ban {
    width: 1050px;
    height: 300px;
    position:relative;
    overflow: hidden;
    margin: 0 0 4% 2%;
}

#ban ul {
    position: relative;
    left: 10px;
    top: 20px;

}

#ban ul li {
    float: left;
    width: 300px;
    height: 180px;
    list-style: none;
    text-align: center;
    margin: 25px;
    border-radius: 5%;
}

#ban ul li img {
    height: 180px;
    width: 300px;
    border-radius: 5%;
}
.axial {
    width: 100%;
    height: 420px;
    position: relative;
    background: url(../static/img/download.svg) no-repeat center;
    background-color: #2E3139;
}

.frist-box {
    width: 60%;
    height: 1200px;
    background: white;
    position: relative;
    top: 50px;
    margin: 0 2%;
    padding: 40px;
}
.frist-box img{
    width: 70%;
    height: 300px;
    margin-left:16%;
}
.frist-box p{
    font-size: 14px;
    font-family:"Times New Roman",Times,serif;
    text-indent:2em;
    letter-spacing: 2px;
    width: 85%;
    margin-left: 8%;

}
.second-box {
    width: 19%;
    height: 440px;
    position: fixed;
    left: 66%;
    background: white;
    top: 115px;
}

.art {
    padding: 20px;
    height: 180px;
    border-bottom: 1px solid #ddd;
}

.art h4 {
    letter-spacing: 2px;
    font-weight: 500;
    margin: 20px 0;
}

.art p {
    color: #888888;
    font-size: 14x;
}

.act {
    padding: 10px 20px;
}

.enUjzm {
    background: rgb(240, 244, 245);
    color: rgb(31, 31, 31);
    padding: 8px 16px 8px 20px;
    line-height: 22px;
    transition: color 0.3s ease 0s;
    position: relative;
    border-radius: 100px 0px 0px 100px;
    height: 22px;
    margin: 15px;
    float: left;
}

span:hover {
    color: #E60026;
    cursor: pointer;
}
.cont {
    position: relative;
    width: 1308px;
    display: none;

}
.box{
    float: left;
    padding: 5px;
    position: relative;
    background:  url('../static/img/1.png') no-repeat center center;
    background-size: 50px 50px;
}

.pic {
    border: solid 1px black;
    padding: 4px;
    border-radius: 4px;
}

.pic img {
    width: 198px;
    display: block;
}

.comt {
    width: 100%;
    height: 44px;
    background-color: #FFFFFF;
    position: relative;
    border-top: 1px solid #ddd;

}

.comt li {
    width: 8%;
    height: 44px;
    line-height: 44px;
    position: relative;
    float: left;
    list-style: none;
    color: #666666;
    font-size: 15px;
    cursor: pointer;
}

.comt li:hover {
    color: #E60026;
    text-decoration: none;
}

.boxc{
    width: 100%;
    height:2000px;
    background: white;
    position: relative;
    margin-top: 50px;
}
.boxc img{
    margin: 15px;
    height: 290px;
    width: 22.5%;
    position: relative;
    float: left;
}
ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
    position: relative;
    float: left;


}

ul.pagination li {display:inline-block;
    list-style: none}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    display:inline-block;
}


ul.pagination li a.active {
    background-color: red;
    color: white;
    border-radius: 5px;
}
ul.pagination li a:hover:not(.active) {background-color: #DDDDDD;}
#ban {
    width: 1050px;
    height: 300px;
    position:relative;
    overflow: hidden;
    margin: 0 0 4% 2%;
}
