<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>火图网</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <link href="https://fonts.font.im/css?family=Hanalei+Fill" rel="stylesheet">
    <!-- Favicon-->
    <link rel="shortcut icon" th:href="@{/img/1.png}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
<script th:href="@{/js/main.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/pour.css}"/>
    <script th:src="@{/js/pour.js}"></script>
</head>
<body>

<!----导航栏----->
<div th:insert="same :: header"></div>
<div class="bigbox">
    <div class="frist-box">
        <div th:each="picture:${picture}">
            <img th:src="'http://wxsaxaxa.icu/'+${picture.position}">
            <p th:text="${picture.description}"></p>
        </div>
    </div>
    <div class="second-box">
        <div class="art">
            <h2>创意周报</h2>
            <h4>有限的容量,无限的传播! 海报相当于图片广告，是中国户外广告的开端!</h4>
            <p>作者：火图网</p>
        </div>
        <div class="act">
            <a th:href="@{goDetailed?name=1}" th:style="${active=='1'}?'display:none'"><span class="enUjzm" >创意</span></a>
            <a th:href="@{goDetailed?name=2}" th:style="${active=='2'}?'display:none'"><span class="enUjzm" >配色</span></a>
            <a th:href="@{goDetailed?name=3}" th:style="${active=='3'}?'display:none'"><span class="enUjzm" >插画</span></a>
            <a th:href="@{goDetailed?name=4}" th:style="${active=='4'}?'display:none'"><span class="enUjzm" >潮流</span></a>
            <a th:href="@{goDetailed?name=5}" th:style="${active=='5'}?'display:none'"><span class="enUjzm" >夏天</span></a>
            <a th:href="@{goDetailed?name=6}" th:style="${active=='6'}?'display:none'"><span class="enUjzm" >酷炫</span></a>
        </div>
    </div>
</div>
</body>
</html>
