<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="header"  th:fragment="header">
<!----导航栏----->
<div class="top">
    <div class="bigbox">
        <a th:href="@{/main/rotation}">
            <div class="top-right">
                <img src="../img/1.png">
                <div class="logo">火图网</div>
                <div id="small-logo">专业图片服务</div>
            </div></a>

        <div class="top-middle">
            <form th:action="search" method="get">
                <input class="field" type="text" th:name="name" placeholder="  每日免费设计素材任意下载" />
                <input type="submit" class="fields" value="搜索">
            </form>
        </div>


        <div class="top-left">
            <div class="add" onclick="sign()"><img src="../img/98.png">
                <p>签到</p>
            </a></div>
            <div class="add"><a href="http://www.wxsaxaxa.icu/toPay"><img src="../img/4.png">
                <p>加入Vip</p>
            </a></div>
            <div class="user">
                <div th:if="${session.Account}==null">
                    <a style="color: #E60026;text-decoration: none" th:href="@{/account/goLogin}">登录</a>|<a style="color: #E60026;text-decoration: none" th:href="@{/account/goRegister}">注册</a>
                </div>
                <div th:if="${session.Account}!=null">
                    <a style="color: #E60026;text-decoration: none;font-size: 10px" th:href="@{/accountPersonal/goMyCenter}"><img th:src="'http://wxsaxaxa.icu/'+${session.Account.headPortrait}" width="30px" style="border-radius: 50%;"></a>
                    <a style="color: #E60026;text-decoration: none;font-size: 10px" th:href="@{/accountPersonal/goOut}">退出</a>
                </div>

            </div>
        </div>
    </div>
    <div id="toper">
        <div class="bigbox">
            <a th:href="@{/main/rotation}">
                <div class="top-right">
                    <img src="../img/1.png">
                    <div class="logo">火图网</div>
                    <div id="small-logo">专业图片服务</div>
                </div></a>

            <div class="top-middle">
                <form th:action="search" method="get">
                    <input class="field" type="text" th:name="name" placeholder="  每日免费设计素材任意下载" />
                    <input type="submit" class="fields" value="搜索">
                </form>
            </div>

            <div class="top-left">
                <div class="add"><a><i class="fa fa-star fa-3x" aria-hidden="true"></i>
                    <p>收藏夹</p>
                </a></div>
                <div class="add"><a href="http://www.wxsaxaxa.icu/toPay"><img src="../img/4.png">
                    <p>加入Vip</p>
                </a></div>
                <div class="user">
                    <div th:if="${session.Account}==null">
                        <a style="color: #E60026;text-decoration: none" th:href="@{/account/goLogin}">登录</a>|<a style="color: #E60026;text-decoration: none" th:href="@{/account/goRegister}">注册</a>
                    </div>
                    <div th:if="${session.Account}!=null">
                        <a style="color: #E60026;text-decoration: none;font-size: 10px" th:href="@{/accountPersonal/goMyCenter}">
                            <img th:src="'http://wxsaxaxa.icu/'+${session.Account.headPortrait}" width="30px" style="border-radius: 50%;"></a>
                        <a style="color: #E60026;text-decoration: none;font-size: 10px" th:href="@{/accountPersonal/goOut}">退出</a>
                    </div>

                </div>
            </div>
        </div>
</div>
</div>
</div>


    <div id="relat"  th:fragment="relat">
    <div class="bigbox">
        <div id="ban">
            <h2 style="margin-left: 2%;">相关专题</h2>
            <ul>
                <a th:href="@{/main/category?lb=shsh}">
                    <li class="col-item">
                        <figure class="c4-izmir c4-border-cc-2" tabindex="0">
                            <img th:src="@{/img/11.jpg}">
                            <figcaption>
                                <p>社会生活</p>
                            </figcaption>
                        </figure>
                    </li>
                </a>
                <a th:href="@{/main/category?lb=cygg}">
                    <li class="col-item">
                        <figure class="c4-izmir c4-border-cc-2" tabindex="0">
                            <img th:src="@{/img/12.jpg}">
                            <figcaption>
                                <p>创意广告</p>
                            </figcaption>
                        </figure>
                    </li>
                </a>
                <a th:href="@{/main/category?lb=zrfj}">
                    <li class="col-item">
                        <figure class="c4-izmir c4-border-cc-2" tabindex="0">
                            <img th:src="@{/img/13.jpg}">
                            <figcaption><p>自然风景</p>
                            </figcaption>
                        </figure>
                    </li>
                </a>
                <a th:href="@{/main/category?lb=ysys}">
                    <li class="col-item">
                        <figure class="c4-izmir c4-border-cc-2" tabindex="0">
                            <img th:src="@{/img/14.jpg}">
                            <figcaption><p>摄影艺术</p>
                            </figcaption>

                        </figure>
                    </li>
                </a>
                <a th:href="@{/main/category?lb=ktty}">
                    <li class="col-item">
                        <figure class="c4-izmir c4-border-cc-2" tabindex="0">
                            <img th:src="@{/img/15.jpg}">
                            <figcaption><p>卡通涂鸦</p>
                            </figcaption>
                        </figure>
                    </li>
                </a>
                <a th:href="@{/main/category?lb=kxbj}">
                    <li class="col-item">
                        <figure class="c4-izmir c4-border-cc-2" tabindex="0">
                            <img th:src="@{/img/16.jpg}">
                            <figcaption><p>炫酷背景</p>
                            </figcaption>
                        </figure>
                    </li>
                </a>
                <a th:href="@{/main/category?lb=swbg}">
                    <li class="col-item">
                        <figure class="c4-izmir c4-border-cc-2" tabindex="0">
                            <img th:src="@{/img/17.jpg}">
                            <figcaption><p>商务办公</p>
                            </figcaption>
                        </figure>
                    </li>
                </a>
                <a th:href="@{/main/category?lb=ysmx}">
                    <li class="col-item">
                        <figure class="c4-izmir c4-border-cc-2" tabindex="0">
                            <img th:src="@{/img/18.jpg}">
                            <figcaption><p>影视明星</p>
                            </figcaption>
                        </figure>
                    </li>
                </a>
            </ul>
        </div>
    </div>
    </div>
</body>
</html>